@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-dark: #222624;
  --color-accent: #78dda2;
  --color-accent-button: #78dda2;
  --font-varela: 'Varela', sans-serif;
}

#root {
  min-height: 100vh;
}
